<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">天气：</label>
								<div class="col-sm-8">
									<input id="weather" name="weather" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">班前预想：</label>
								<div class="col-sm-8">
									<input id="clsEnvision" name="clsEnvision" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">班前一题：</label>
								<div class="col-sm-8">
									<input id="clsOne" name="clsOne" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">任务完成情况和改进措施：</label>
								<div class="col-sm-8">
									<input id="taskDetails" name="taskDetails" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">班组记事：</label>
								<div class="col-sm-8">
									<input id="clsMark" name="clsMark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长工号：</label>
								<div class="col-sm-8">
									<input id="gangmasterNo" name="gangmasterNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长名称：</label>
								<div class="col-sm-8">
									<input id="gangmasterName" name="gangmasterName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建日期：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新日期：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/biz/masterLog/add.js">
	</script>
</body>
</html>
