<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<form class="form-horizontal" id="main104Form">
				<div class="col-sm-12 form-inline m-b-sm">
					<div class="form-group col-sm-6" >
						<label class="control-label">时间:</label>
						<input id="createTime" name="createTime" class="form-control " th:value="${mainValve104.createTime}"  disabled="true"  type="date" style="width: 250px">
					</div>
					<div class="form-group col-sm-6" >
						<label class="control-label">104紧急阀编号:</label>
						<input id="popValue" name="popValue" class="form-control"  disabled="true"  type="text" th:value="${mainValve104.popValue}" style="width: 250px">

					</div>
				</div>

				<table class="table table-bordered table-striped table-hover" id="main104Table"   data-mobile-responsive="true" data-url="js/demo/pop104.json" ></table>

				<div class="col-sm-12 form-inline m-t-sm">
					<div class="form-group col-sm-3" shiro:hasAnyRoles="role:admin,role:gangmaster">
						<label class="control-label">工长检修意见：</label>
						<select id="gangmasterAudit" name="gangmasterAudit" class="form-control" th:value="${mainValve104.gangmasterAudit}">
							<option value="" th:selected="${mainValve104.gangmasterAudit == ''}">请选择</option>
							<option value="1" th:selected="${mainValve104.gangmasterAudit == 1}">合格</option>
							<option value="0" th:selected="${mainValve104.gangmasterAudit == 0}">不合格</option>
						</select>
					</div>
					<div class="form-group col-sm-3" shiro:hasAnyRoles="role:admin,role:gangmaster">
						<input id="gangmasterNo" name="gangmasterNo" class="form-control" type="hidden" th:value="${mainValve104.gangmasterNo}?:${user.username}">
						<input id="gangmasterName" name="gangmasterName" class="form-control" type="text" placeholder="工长名称" th:value="${mainValve104.gangmasterName}?:${user.name}">
					</div>
					<div class="form-group col-sm-3" shiro:hasAnyRoles="role:admin,role:inspector">
						<label class="control-label">质检员检修意见:</label>
						<select id="inspectorAudit" name="inspectorAudit" class="form-control " th:value="${mainValve104.inspectorAudit}">
							<option value="" th:selected="${mainValve104.inspectorAudit ==''}">请选择</option>
							<option value="1" th:selected="${mainValve104.inspectorAudit ==1}">合格</option>
							<option value="0" th:selected="${mainValve104.inspectorAudit ==0}">不合格</option>
						</select>
					</div>
					<div class="form-group col-sm-3" shiro:hasAnyRoles="role:admin,role:inspector">
						<input id="inspectorNo" name="inspectorNo" class="form-control" type="hidden" th:value="${mainValve104.inspectorNo}?:${user.username}" >
						<input id="inspectorName" name="inspectorName" class="form-control" type="text" placeholder="质检员名称" th:value="${mainValve104.inspectorName}?:${user.name}">
					</div>
				</div>
				<div class="col-sm-12 form-inline">
					<div class="form-group col-sm-4" shiro:hasPermission="biz:mainValve104:assemble">
						<label class="control-label">组装合字：</label>
						<input id="assemblerRemark" name="assemblerRemark" class="form-control" type="checkbox" th:checked="${mainValve104.assemblerRemark}?true:false">
						<label class="control-label"><img src="/img/ren.png" style="width: 14px;height: 14px "></label>
					</div>
					<div class="form-group col-sm-4" shiro:hasAnyRoles="role:admin,role:gangmaster">
						<label class="control-label">工长合字:</label>
						<input id="gangmasterRemark" name="gangmasterRemark" class="form-control " type="checkbox"  th:checked="${mainValve104.gangmasterRemark}?true:false">
						<label class="control-label"><img src="/img/renyi.png" style="width: 14px;height: 14px "></label>
					</div>
					<div class="form-group col-sm-4" shiro:hasAnyRoles="role:admin,role:inspector">
						<label class="control-label">质检员合字:</label>
						<input id="inspectorRemark" name="inspectorRemark" class="form-control " type="checkbox" th:checked="${mainValve104.inspectorRemark}?true:false">
						<label class="control-label"><img src="/img/he.png" style="width: 14px;height: 14px ;" ></label>
					</div>
				</div>
				<div class="form-group col-sm-12 " >
					<textarea id="returnRemark" name="returnRemark" class="form-control" rows="1" placeholder="备注" th:text="${mainValve104.returnRemark}"></textarea>
				</div>


				<input id="taskId" name="taskId" class="form-control" type="hidden" th:value="${mainValve104.taskId}">
				<input id="taskName" name="taskName" class="form-control" type="hidden" th:value="${mainValve104.taskName}">
				<input id="processInstanceId" name="processInstanceId" class="form-control" type="hidden" th:value="${mainValve104.processInstanceId}">
				<input id="id" name="id" class="form-control" type="hidden" th:value="${mainValve104.id}">

				<input id="disassembleNo" name="disassembleNo" class="form-control" type="hidden" th:value="${mainValve104.disassembleNo}">
				<input id="disassembleName" name="disassembleName" class="form-control" type="hidden" th:value="${mainValve104.disassembleName}">

				<input id="cleanerNo" name="cleanerNo" class="form-control" type="hidden" th:value="${mainValve104.cleanerNo}">
				<input id="cleanerName" name="cleanerName" class="form-control" type="hidden" th:value="${mainValve104.cleanerName}">

				<input id="fixer1No" name="fixer1No" class="form-control" type="hidden" th:value="${mainValve104.fixer1No}">
				<input id="fixer1Name" name="fixer1Name" class="form-control" type="hidden" th:value="${mainValve104.fixer1Name}">

				<input id="fixer2No" name="fixer2No" class="form-control" type="hidden" th:value="${mainValve104.fixer2No}">
				<input id="fixer2Name" name="fixer2Name" class="form-control" type="hidden" th:value="${mainValve104.fixer2Name}">

				<input id="fixer3No" name="fixer3No" class="form-control" type="hidden" th:value="${mainValve104.fixer3No}">
				<input id="fixer3Name" name="fixer3Name" class="form-control" type="hidden" th:value="${mainValve104.fixer3Name}">

				<input id="fixer4No" name="fixer4No" class="form-control" type="hidden" th:value="${mainValve104.fixer4No}">
				<input id="fixer4Name" name="fixer4Name" class="form-control" type="hidden" th:value="${mainValve104.fixer4Name}">

				<input id="assemblerNo" name="assemblerNo" class="form-control" type="hidden" th:value="${mainValve104.assemblerNo}">
				<input id="assemblerName" name="assemblerName" class="form-control" type="hidden" th:value="${mainValve104.assemblerName}">
				<input id="valueType" name="valueType" class="form-control" type="hidden" th:value="${mainValve104.valueType}">
				<div class="row ">
					<div class="col-sm-3" shiro:hasAnyRoles="role:admin,role:disassembler,role:cleaner,role:fixer,role:assembler">
						<a id="uploadImg" type="submit" class="btn btn-primary" href="javascript:void(0)" onClick="uploadImg(1)">影像上传</a>
					</div>
					<div class="col-sm-3" shiro:hasAnyRoles="role:admin,role:gangmaster,role:inspector">
						<a id="imgView" type="submit" class="btn btn-primary" href="javascript:void(0)" onClick="uploadImg(2)">影像查看</a>
					</div>
					<input id="taskPass" name="taskPass" class="hidden">
					<div class="col-sm-3 " id="sign">
						<button type="submit" class="btn btn-primary">签字提交</button>
					</div>
					<div class="col-sm-3 " id="black" shiro:hasAnyRoles="role:admin,role:inspector,role:gangmaster">
						<button type="button" class="btn btn-primary" onclick="$('#taskPass').val('0');update('sign')">退回</button>
					</div>
					<div class="col-sm-3 ">
						<button id="save" type="button" class="btn btn-primary" onclick="update('update')">保存</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

<!--shiro控制各个角色下可操作的表单 -->
<div>
	<script type="text/javascript">
        var disassembler = false;
        var cleaner = false;
        var fixer = false;
        var assembler=false;
        var gangmaster=false;
        var inspector=false;
	</script>
</div>
<div shiro:hasPermission="biz:mainValve104:disassemble">
	<script type="text/javascript">
        //alert("disassembler");
        disassembler = true;
	</script>
</div>
<div shiro:hasPermission="biz:mainValve104:clean">
	<script type="text/javascript">
        //alert("cleaner");
        cleaner =true;
	</script>
</div>
<div shiro:hasPermission="biz:mainValve104:fix">
	<script type="text/javascript">
        // alert("fixer");
        fixer = true;
	</script>
</div>
<div shiro:hasPermission="biz:mainValve104:assemble">
	<script type="text/javascript">
        //alert("assembler");
        assembler = true;
	</script>
</div>
<div shiro:hasAnyRoles="role:admin,role:gangmaster">
	<script type="text/javascript">
        //alert("gangmaster");
        gangmaster = true;
	</script>
</div>
<div shiro:hasAnyRoles="role:admin,role:inspector">
	<script type="text/javascript">
        //alert("gangmaster");
        inspector = true;
	</script>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/biz/mainValve104/edit.js">
</script>
<script th:inline="javascript">
    var currentUserName=[[${user.name}]];
    var currentUserNameNo=[[${user.username}]];

    var disassembleName=[[${mainValve104.disassembleName}]];
    var disassembleNo=[[${mainValve104.disassembleNo}]];
    var cleanerName=[[${mainValve104.cleanerName}]];
    var cleanerNo=[[${mainValve104.cleanerNo}]];

    var fixer1Name=[[${mainValve104.fixer1Name}]];
    var fixer2Name=[[${mainValve104.fixer2Name}]];
    var fixer3Name=[[${mainValve104.fixer3Name}]];
    var fixer4Name=[[${mainValve104.fixer4Name}]];

    var fixer1No=[[${mainValve104.fixer1No}]];
    var fixer2No=[[${mainValve104.fixer2No}]];
    var fixer3No=[[${mainValve104.fixer3No}]];
    var fixer4No=[[${mainValve104.fixer4No}]];

    var assemblerName=[[${mainValve104.assemblerName}]];
    var assemblerNo=[[${mainValve104.assemblerNo}]];

    var createTime=[[${mainValve104.createTime}]];
</script>
</body>
</html>