<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${toolInspection.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">白光照度测量：</label>
								<div class="col-sm-8">
									<input id="luminanceMeasure" name="luminanceMeasure" th:value="${toolInspection.luminanceMeasure}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">温度：</label>
								<div class="col-sm-8">
									<input id="temperature" name="temperature" th:value="${toolInspection.temperature}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">湿度：</label>
								<div class="col-sm-8">
									<input id="humidity" name="humidity" th:value="${toolInspection.humidity}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">力矩扳手：1全部合格，2部分合格，3全部不合格：</label>
								<div class="col-sm-8">
									<input id="wench" name="wench" th:value="${toolInspection.wench}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">样板：</label>
								<div class="col-sm-8">
									<input id="templet" name="templet" th:value="${toolInspection.templet}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">通针：</label>
								<div class="col-sm-8">
									<input id="nozzleCleaner" name="nozzleCleaner" th:value="${toolInspection.nozzleCleaner}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">硅油：</label>
								<div class="col-sm-8">
									<input id="siliconeOil" name="siliconeOil" th:value="${toolInspection.siliconeOil}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">硅脂：</label>
								<div class="col-sm-8">
									<input id="siliconeGrease" name="siliconeGrease" th:value="${toolInspection.siliconeGrease}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">其他工具：</label>
								<div class="col-sm-8">
									<input id="otherTool" name="otherTool" th:value="${toolInspection.otherTool}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工作者工号：</label>
								<div class="col-sm-8">
									<input id="fixWorkerNo" name="fixWorkerNo" th:value="${toolInspection.fixWorkerNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工作者名称：</label>
								<div class="col-sm-8">
									<input id="fixWorkerName" name="fixWorkerName" th:value="${toolInspection.fixWorkerName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长工号：</label>
								<div class="col-sm-8">
									<input id="gangmasterNo" name="gangmasterNo" th:value="${toolInspection.gangmasterNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长名称：</label>
								<div class="col-sm-8">
									<input id="gangmasterName" name="gangmasterName" th:value="${toolInspection.gangmasterName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长审核意见：1同意 0不同意：</label>
								<div class="col-sm-8">
									<input id="gangmasterAudit" name="gangmasterAudit" th:value="${toolInspection.gangmasterAudit}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开工结论：</label>
								<div class="col-sm-8">
									<input id="permissionsOpinion" name="permissionsOpinion" th:value="${toolInspection.permissionsOpinion}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">退回意见：</label>
								<div class="col-sm-8">
									<input id="returnOpinion" name="returnOpinion" th:value="${toolInspection.returnOpinion}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建日期：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${toolInspection.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新日期：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" th:value="${toolInspection.updateTime}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/biz/toolInspection/edit.js">
	</script>
</body>
</html>
