<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<br/>
	<input id="printView" type="button"  class="btn  btn-primary"value="预览打印" onClick="printme()">
	<input type="button" class="btn  btn-primary" value="打印" onClick="doPrint()">
	<a type="button" class="btn btn-primary" id="close" href="javascript:location.href='/biz/toolInspection'">
		<i class="fa fa-sign-out"></i>关闭页面
	</a>
	<!--startprint1-->
	<object classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"   id="WebBrowser"></object>
	<div class="wrapper wrapper-content ">
		<table  cellspacing="0" cellpadding="0" border="1" width="800" align="center" height="100%" style="text-align:center;vertical-align:top;border-collapse:collapse;">
			<caption style="text-align:center"><h2>检修工作台检视录表</h2></caption>
			<tr height="30">
				<td width="100">白光照度（XL）：</td>
				<td width="166" th:text="${toolInspection.luminanceMeasure}"></td>
				<td width="100">温度（℃）：</td>
				<td width="166" th:text="${toolInspection.temperature}"></td>
				<td width="100">湿度（%）：</td>
				<td width="168" th:text="${toolInspection.humidity}"></td>
			</tr>
			<tr height="30">
				<td>力矩扳手</td>
				<td>检视情况：</td>
				<td colspan="4" th:switch="${toolInspection.wench}">
					<span th:case="1">全部合格</span>
					<span th:case="2">部分合格</span>
					<span th:case="3">全部不合格</span>
				</td>
			</tr>
			<tr>
				<td colspan="6">
					<table border="1" cellspacing="0" cellpadding="0" align="center" width="800" style="text-align:center;vertical-align:middle;border-collapse:collapse;">
						<thead>
						<td colspan="2">扳手编号</td>
						<td colspan="2">处置</td>
						<td colspan="2">备注</td>
						</thead>
						<tbody>
						<tr height="25" th:each="wench:${wenchList}">
							<td colspan="2" th:text="${wench.wenchNo}"></td>
							<td colspan="2" th:text="${wench.dealSit}"></td>
							<td colspan="2" th:text="${wench.remark}"></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr height="25">
				<td colspan="2">样板：</td>
				<td>合格</td>
				<td>
					<input id="templet" name="templet" type="checkbox" disabled=true th:checked="${toolInspection.templet}?true:false">
				</td>
				<td>不合格</td>
				<td>
					<input id="templet1" name="templet1" type="checkbox" disabled=true th:checked="${toolInspection.templet}?false:true">
				</td>
			</tr>
			<tr height="25">
				<td colspan="2">通针：</td>
				<td>合格</td>
				<td>
					<input id="nozzleCleaner" name="nozzleCleaner" type="checkbox" disabled=true th:checked="${toolInspection.nozzleCleaner}?true:false">
				</td>
				<td>不合格</td>
				<td>
					<input id="nozzleCleaner1" name="nozzleCleaner1" type="checkbox" disabled=true th:checked="${toolInspection.nozzleCleaner}?false:true">
				</td>
			</tr>
			<tr height="25">
				<td colspan="2">硅油：</td>
				<td>合格</td>
				<td>
					<input id="siliconeOil" name="siliconeOil" type="checkbox" disabled=true th:checked="${toolInspection.siliconeOil}?true:false">
				</td>
				<td>不合格</td>
				<td>
					<input id="siliconeOil1" name="siliconeOil1" type="checkbox" disabled=true th:checked="${toolInspection.siliconeOil}?false:true">
				</td>
			</tr>
			<tr height="25">
				<td colspan="2">硅脂：</td>
				<td>合格</td>
				<td>
					<input id="siliconeGrease" name="siliconeGrease" type="checkbox" disabled=true th:checked="${toolInspection.siliconeGrease}?true:false">
				</td>
				<td>不合格</td>
				<td>
					<input id="siliconeGrease1" name="siliconeGrease1" type="checkbox" disabled=true th:checked="${toolInspection.siliconeGrease}?false:true">
				</td>
			</tr>
			<tr height="40">
				<td>其他工具</td>
				<td>检视情况：</td>
				<td colspan="4" th:switch="${toolInspection.otherTool}">
					<span th:case="1">全部合格</span>
					<span th:case="2">部分合格</span>
					<span th:case="3">全部不合格</span>
				</td>
			</tr>
			<tr>
				<td colspan="6">
					<table border="1" cellspacing="0" cellpadding="0" align="center" width="800" style="text-align:center;vertical-align:middle;border-collapse:collapse;">
						<thead>
						<td colspan="2">工具名称</td>
						<td colspan="2">处置</td>
						<td colspan="2">备注</td>
						</thead>
						<tbody>
						<tr height="25" th:each="tool:${otherToolList}">
							<td colspan="2" th:text="${tool.toolName}"></td>
							<td colspan="2" th:text="${tool.dealSit}"></td>
							<td colspan="2" th:text="${tool.remark}"></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr height="30">
				<td>工作者名称：</td>
				<td th:text="${toolInspection.fixWorkerName}"></td>
				<td>工作者工号：</td>
				<td th:text="${toolInspection.fixWorkerNo}"></td>
				<td>提交日期：</td>
				<td th:text="${#dates.format(toolInspection.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
			</tr>
			<tr height="30">
				<td>工长：</td>
				<td colspan="2" th:text="${toolInspection.gangmasterName}"></td>
				<td>开工意见：</td>
				<td colspan="2" th:text="${toolInspection.gangmasterAudit}=='1'?'同意开工':'退回'"></td>
			</tr>
		</table>
	</div>
	<!--endprint1-->
	<div th:include="include::footer"></div>
	<script src="/js/plugins/jcpfree/jcpfree.js"></script>

<script>
    function doPrint() {
	    var  bdhtml=window.document.body.innerHTML;//获取当前页的html代码
        var  sprnstr="<!--startprint1-->";//设置打印开始区域
        var  eprnstr="<!--endprint1-->";//设置打印结束区域
        var  prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html
		prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
        window.document.body.innerHTML=prnhtml;
		window.print();
        window.document.body.innerHTML=bdhtml;
    }
    function printme()
    {   var head="<!DOCTYPE html>\n" +
        "<html>\n" +
        "<meta charset=\"utf-8\">\n" +
        "<body>";
      var tail="</body>\n" +
          "</html>";
        ///var print = this.document.getElementById("print").innerHTML;
        var  bdhtml=window.document.body.innerHTML;//获取当前页的html代码
        var  sprnstr="<!--startprint1-->";//设置打印开始区域
        var  eprnstr="<!--endprint1-->";//设置打印结束区域
        var  prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html

        prnhtml =head+ prnhtml+"<input id=printView name=Button onClick=printView() type=button value=打印预览> <input id = print name=Button   onClick=print()   type=button   value=直接打印>   <input id = pageSetup name=Button   onClick= pageSetup() type=button   value=页面设置>" ;
        prnhtml = prnhtml +'<script> function printView(){hidden();document.all.WebBrowser.ExecWB(7,1); } function print(){hidden();document.all.WebBrowser.ExecWB(6,6)}function pageSetup(){hidden();document.all.WebBrowser.ExecWB(8,1);}function hidden(){document.all("printView").style.display="none"; document.all("print").style.display="none"; document.all("pageSetup").style.display="none";}<\/script>'+tail;
        var newWindow = window.open();
        newWindow.document.open("text/html");
        newWindow.document.write(prnhtml);
        newWindow.document.close();
    }
</script>
</body>
</html>
