<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">紧急阀编号：</label>
								<div class="col-sm-8">
									<input id="popValue" name="popValue" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">分解者工号：</label>
								<div class="col-sm-8">
									<input id="disassembleNo" name="disassembleNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">分解者名称：</label>
								<div class="col-sm-8">
									<input id="disassembleName" name="disassembleName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">清洗者工号：</label>
								<div class="col-sm-8">
									<input id="cleanerNo" name="cleanerNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">清洗者名称：</label>
								<div class="col-sm-8">
									<input id="cleanerName" name="cleanerName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者工号：</label>
								<div class="col-sm-8">
									<input id="fixer1No" name="fixer1No" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者名称：</label>
								<div class="col-sm-8">
									<input id="fixer1Name" name="fixer1Name" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者工号：</label>
								<div class="col-sm-8">
									<input id="fixer2No" name="fixer2No" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者名称：</label>
								<div class="col-sm-8">
									<input id="fixer2Name" name="fixer2Name" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者工号：</label>
								<div class="col-sm-8">
									<input id="fixer3No" name="fixer3No" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者名称：</label>
								<div class="col-sm-8">
									<input id="fixer3Name" name="fixer3Name" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者工号：</label>
								<div class="col-sm-8">
									<input id="fixer4No" name="fixer4No" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者名称：</label>
								<div class="col-sm-8">
									<input id="fixer4Name" name="fixer4Name" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组装者工号：</label>
								<div class="col-sm-8">
									<input id="assemblerNo" name="assemblerNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组装者名称：</label>
								<div class="col-sm-8">
									<input id="assemblerName" name="assemblerName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组装人字标志：</label>
								<div class="col-sm-8">
									<input id="assembleMark" name="assembleMark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长工号：</label>
								<div class="col-sm-8">
									<input id="gangmasterNo" name="gangmasterNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长名称：</label>
								<div class="col-sm-8">
									<input id="gangmasterName" name="gangmasterName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长审核意见：1同意 0不同意：</label>
								<div class="col-sm-8">
									<input id="gangmasterAudit" name="gangmasterAudit" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长审核备注：</label>
								<div class="col-sm-8">
									<input id="gangmasterRemark" name="gangmasterRemark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长一字标志：</label>
								<div class="col-sm-8">
									<input id="gangmasterMark" name="gangmasterMark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员工号：</label>
								<div class="col-sm-8">
									<input id="inspectorNo" name="inspectorNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员名称：</label>
								<div class="col-sm-8">
									<input id="inspectorName" name="inspectorName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员合字标志：</label>
								<div class="col-sm-8">
									<input id="inspectorMark" name="inspectorMark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员审核意见：1同意 0不同意：</label>
								<div class="col-sm-8">
									<input id="inspectorAudit" name="inspectorAudit" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员审核备注：</label>
								<div class="col-sm-8">
									<input id="inspectorRemark" name="inspectorRemark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">退回意见：1同意 0不同意：</label>
								<div class="col-sm-8">
									<input id="returnOpinion" name="returnOpinion" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">退回备注：</label>
								<div class="col-sm-8">
									<input id="returnRemark" name="returnRemark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建日期：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新日期：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/part/m104chk/add.js">
	</script>
</body>
</html>
