<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${mainValveF8.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">F8主阀编号：</label>
								<div class="col-sm-8">
									<input id="popValue" name="popValue" th:value="${mainValveF8.popValue}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">分解者工号：</label>
								<div class="col-sm-8">
									<input id="disassembleNo" name="disassembleNo" th:value="${mainValveF8.disassembleNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">分解者名称：</label>
								<div class="col-sm-8">
									<input id="disassembleName" name="disassembleName" th:value="${mainValveF8.disassembleName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">清洗者工号：</label>
								<div class="col-sm-8">
									<input id="cleanerNo" name="cleanerNo" th:value="${mainValveF8.cleanerNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">清洗者名称：</label>
								<div class="col-sm-8">
									<input id="cleanerName" name="cleanerName" th:value="${mainValveF8.cleanerName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者1工号：</label>
								<div class="col-sm-8">
									<input id="fixer1No" name="fixer1No" th:value="${mainValveF8.fixer1No}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者1名称：</label>
								<div class="col-sm-8">
									<input id="fixer1Name" name="fixer1Name" th:value="${mainValveF8.fixer1Name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者1备注：</label>
								<div class="col-sm-8">
									<input id="fixer1Remark" name="fixer1Remark" th:value="${mainValveF8.fixer1Remark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者2工号：</label>
								<div class="col-sm-8">
									<input id="fixer2No" name="fixer2No" th:value="${mainValveF8.fixer2No}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者2名称：</label>
								<div class="col-sm-8">
									<input id="fixer2Name" name="fixer2Name" th:value="${mainValveF8.fixer2Name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者2备注：</label>
								<div class="col-sm-8">
									<input id="fixer2Remark" name="fixer2Remark" th:value="${mainValveF8.fixer2Remark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者3工号：</label>
								<div class="col-sm-8">
									<input id="fixer3No" name="fixer3No" th:value="${mainValveF8.fixer3No}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者3名称：</label>
								<div class="col-sm-8">
									<input id="fixer3Name" name="fixer3Name" th:value="${mainValveF8.fixer3Name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者3备注：</label>
								<div class="col-sm-8">
									<input id="fixer3Remark" name="fixer3Remark" th:value="${mainValveF8.fixer3Remark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者4工号：</label>
								<div class="col-sm-8">
									<input id="fixer4No" name="fixer4No" th:value="${mainValveF8.fixer4No}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者4名称：</label>
								<div class="col-sm-8">
									<input id="fixer4Name" name="fixer4Name" th:value="${mainValveF8.fixer4Name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检修者4备注：</label>
								<div class="col-sm-8">
									<input id="fixer4Remark" name="fixer4Remark" th:value="${mainValveF8.fixer4Remark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组装者工号：</label>
								<div class="col-sm-8">
									<input id="assemblerNo" name="assemblerNo" th:value="${mainValveF8.assemblerNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组装者名称：</label>
								<div class="col-sm-8">
									<input id="assemblerName" name="assemblerName" th:value="${mainValveF8.assemblerName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组装者备注：</label>
								<div class="col-sm-8">
									<input id="assemblerRemark" name="assemblerRemark" th:value="${mainValveF8.assemblerRemark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组装人字标志：</label>
								<div class="col-sm-8">
									<input id="assembleMark" name="assembleMark" th:value="${mainValveF8.assembleMark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长工号：</label>
								<div class="col-sm-8">
									<input id="gangmasterNo" name="gangmasterNo" th:value="${mainValveF8.gangmasterNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长名称：</label>
								<div class="col-sm-8">
									<input id="gangmasterName" name="gangmasterName" th:value="${mainValveF8.gangmasterName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长审核意见：1同意 0不同意：</label>
								<div class="col-sm-8">
									<input id="gangmasterAudit" name="gangmasterAudit" th:value="${mainValveF8.gangmasterAudit}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长审核备注：</label>
								<div class="col-sm-8">
									<input id="gangmasterRemark" name="gangmasterRemark" th:value="${mainValveF8.gangmasterRemark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">工长一字标志：</label>
								<div class="col-sm-8">
									<input id="gangmasterMark" name="gangmasterMark" th:value="${mainValveF8.gangmasterMark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员工号：</label>
								<div class="col-sm-8">
									<input id="inspectorNo" name="inspectorNo" th:value="${mainValveF8.inspectorNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员名称：</label>
								<div class="col-sm-8">
									<input id="inspectorName" name="inspectorName" th:value="${mainValveF8.inspectorName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员合字标志：</label>
								<div class="col-sm-8">
									<input id="inspectorMark" name="inspectorMark" th:value="${mainValveF8.inspectorMark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员审核意见：1同意 0不同意：</label>
								<div class="col-sm-8">
									<input id="inspectorAudit" name="inspectorAudit" th:value="${mainValveF8.inspectorAudit}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">质检员审核备注：</label>
								<div class="col-sm-8">
									<input id="inspectorRemark" name="inspectorRemark" th:value="${mainValveF8.inspectorRemark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">退回意见：1同意 0不同意：</label>
								<div class="col-sm-8">
									<input id="returnOpinion" name="returnOpinion" th:value="${mainValveF8.returnOpinion}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">退回备注：</label>
								<div class="col-sm-8">
									<input id="returnRemark" name="returnRemark" th:value="${mainValveF8.returnRemark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建日期：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${mainValveF8.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新日期：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" th:value="${mainValveF8.updateTime}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/biz/mainValveF8/edit.js">
	</script>
</body>
</html>
