<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rbc.biz.dao.SecurityCheckDao">

	<select id="get" resultType="com.rbc.biz.domain.SecurityCheckDO">
		select `id`,`security_project`,`description`,`status`,`gangmaster_no`,`gangmaster_name`,`check_time`,`remark`,`create_time`,`update_time` from web_security_check where id = #{value}
	</select>

	<select id="list" resultType="com.rbc.biz.domain.SecurityCheckDO">
		select `id`,`security_project`,`description`,`status`,`gangmaster_no`,`gangmaster_name`,`check_time`,`remark`,`create_time`,`update_time` from web_security_check
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="securityProject != null and securityProject != ''"> and security_project = #{securityProject} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="gangmasterNo != null and gangmasterNo != ''"> and gangmaster_no = #{gangmasterNo} </if>
		  		  <if test="gangmasterName != null and gangmasterName != ''"> and gangmaster_name = #{gangmasterName} </if>
		  		  <if test="checkTime != null and checkTime != ''"> and check_time = #{checkTime} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from web_security_check
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="securityProject != null and securityProject != ''"> and security_project = #{securityProject} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="gangmasterNo != null and gangmasterNo != ''"> and gangmaster_no = #{gangmasterNo} </if>
		  		  <if test="gangmasterName != null and gangmasterName != ''"> and gangmaster_name = #{gangmasterName} </if>
		  		  <if test="checkTime != null and checkTime != ''"> and check_time = #{checkTime} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.rbc.biz.domain.SecurityCheckDO" useGeneratedKeys="true" keyProperty="id">
		insert into web_security_check
		(
			`security_project`, 
			`description`, 
			`status`, 
			`gangmaster_no`, 
			`gangmaster_name`, 
			`check_time`, 
			`remark`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{securityProject}, 
			#{description}, 
			#{status}, 
			#{gangmasterNo}, 
			#{gangmasterName}, 
			#{checkTime}, 
			#{remark}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.rbc.biz.domain.SecurityCheckDO">
		update web_security_check 
		<set>
			<if test="securityProject != null">`security_project` = #{securityProject}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="gangmasterNo != null">`gangmaster_no` = #{gangmasterNo}, </if>
			<if test="gangmasterName != null">`gangmaster_name` = #{gangmasterName}, </if>
			<if test="checkTime != null">`check_time` = #{checkTime}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from web_security_check where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from web_security_check where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>