<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rbc.biz.dao.TestPartsDao">

	<select id="get" resultType="com.rbc.biz.domain.TestPartsDO">
		select `id`,`pop_value`,`sequence_no`,`test_part_no`,`assembler_no`,`assembler_name`,`assemble_date`,`is_pass`,`fault_description`,`retan_sit`,`create_time`,`update_time` from web_test_parts where id = #{value}
	</select>

	<select id="list" resultType="com.rbc.biz.domain.TestPartsDO">
		select `id`,`pop_value`,`sequence_no`,`test_part_no`,`assembler_no`,`assembler_name`,`assemble_date`,`is_pass`,`fault_description`,`retan_sit`,`create_time`,`update_time` from web_test_parts
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="popValue != null and popValue != ''"> and pop_value = #{popValue} </if>
		  		  <if test="sequenceNo != null and sequenceNo != ''"> and sequence_no = #{sequenceNo} </if>
		  		  <if test="testPartNo != null and testPartNo != ''"> and test_part_no = #{testPartNo} </if>
		  		  <if test="assemblerNo != null and assemblerNo != ''"> and assembler_no = #{assemblerNo} </if>
		  		  <if test="assemblerName != null and assemblerName != ''"> and assembler_name = #{assemblerName} </if>
		  		  <if test="assembleDate != null and assembleDate != ''"> and assemble_date = #{assembleDate} </if>
		  		  <if test="isPass != null and isPass != ''"> and is_pass = #{isPass} </if>
		  		  <if test="faultDescription != null and faultDescription != ''"> and fault_description = #{faultDescription} </if>
		  		  <if test="retanSit != null and retanSit != ''"> and retan_sit = #{retanSit} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from web_test_parts
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="popValue != null and popValue != ''"> and pop_value = #{popValue} </if>
		  		  <if test="sequenceNo != null and sequenceNo != ''"> and sequence_no = #{sequenceNo} </if>
		  		  <if test="testPartNo != null and testPartNo != ''"> and test_part_no = #{testPartNo} </if>
		  		  <if test="assemblerNo != null and assemblerNo != ''"> and assembler_no = #{assemblerNo} </if>
		  		  <if test="assemblerName != null and assemblerName != ''"> and assembler_name = #{assemblerName} </if>
		  		  <if test="assembleDate != null and assembleDate != ''"> and assemble_date = #{assembleDate} </if>
		  		  <if test="isPass != null and isPass != ''"> and is_pass = #{isPass} </if>
		  		  <if test="faultDescription != null and faultDescription != ''"> and fault_description = #{faultDescription} </if>
		  		  <if test="retanSit != null and retanSit != ''"> and retan_sit = #{retanSit} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.rbc.biz.domain.TestPartsDO" useGeneratedKeys="true" keyProperty="id">
		insert into web_test_parts
		(
			`pop_value`, 
			`sequence_no`, 
			`test_part_no`, 
			`assembler_no`, 
			`assembler_name`, 
			`assemble_date`, 
			`is_pass`, 
			`fault_description`, 
			`retan_sit`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{popValue}, 
			#{sequenceNo}, 
			#{testPartNo}, 
			#{assemblerNo}, 
			#{assemblerName}, 
			#{assembleDate}, 
			#{isPass}, 
			#{faultDescription}, 
			#{retanSit}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.rbc.biz.domain.TestPartsDO">
		update web_test_parts 
		<set>
			<if test="popValue != null">`pop_value` = #{popValue}, </if>
			<if test="sequenceNo != null">`sequence_no` = #{sequenceNo}, </if>
			<if test="testPartNo != null">`test_part_no` = #{testPartNo}, </if>
			<if test="assemblerNo != null">`assembler_no` = #{assemblerNo}, </if>
			<if test="assemblerName != null">`assembler_name` = #{assemblerName}, </if>
			<if test="assembleDate != null">`assemble_date` = #{assembleDate}, </if>
			<if test="isPass != null">`is_pass` = #{isPass}, </if>
			<if test="faultDescription != null">`fault_description` = #{faultDescription}, </if>
			<if test="retanSit != null">`retan_sit` = #{retanSit}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from web_test_parts where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from web_test_parts where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>