<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<form role="form" class="form-horizontal">
	<div class="wrapper wrapper-content animated fadeInRight" style="wmargin: auto">

		<table class="table table-bordered">
			<tr>
				<td>
					<div class="form-group">
						<label for="checkTime" class="col-sm-2 control-label">检修时间：</label>
						<div class="col-sm-8">
							<input type="date" class="form-control" id="checkTime">
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<label for="mainValue" class="col-sm-2 control-label">编号：</label>
						<div class="col-sm-8">
							<input id="mainValue" name="mainValue" th:value="${mainValve104.mainValue}" class="form-control" type="text">
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table class="table table-bordered" >
			<thead>
			<tr>
				<th>检修工序</th>
				<th>检修内容</th>
				<th>工作者</th>
				<th>备注</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>分解</td>
				<td>检查除锈及配件状态</td>
				<td>
					<input id="disassembleName"
						   name="disassembleName"
						   th:value="${mainValve104.disassembleName}"
						   class="form-control"
						   type="text">
				</td>
				<td><textarea class="form-control" rows="1"></textarea></td>
			</tr>
			<tr>
				<td>清洗</td>
				<td>阀体、阀盖和阀内各配件清晰</td>
				<td>
					<input id="cleanerNo"
						   name="cleanerNo"
						   th:value="${mainValve104.cleanerNo}"
						   class="form-control"
						   type="hidden">
					<input id="cleanerName"
						   name="cleanerName"
						   th:value="${mainValve104.cleanerName}"
						   class="form-control"
						   type="text">
				</td>
				<td><textarea class="form-control" rows="1"></textarea></td>
			</tr>
			<tr>
				<td>检修</td>
				<td>阀体、阀盖和阀内各配件清晰</td>
				<td><input id="fixer1Name" name="fixer1Name" th:value="${mainValve104.fixer1Name}" class="form-control" type="text"></td>
				<td><textarea class="form-control" rows="1"></textarea></td>
			</tr>
			<tr>
				<td>检修</td>
				<td>通针疏通限制孔：1.8mm 0.5mm 1.15mm零部件检查</td>
				<td>
					<input id="fixer2Name"
						   name="fixer2Name"
						   th:value="${mainValve104.fixer2Name}"
						   class="form-control"
						   type="text">
				</td>
				<td><textarea class="form-control" rows="1"></textarea></td>
			</tr>
			<tr>
				<td>检修</td>
				<td>各橡胶制品齐全不超期，香蕉模板及密封圈更换</td>
				<td>
					<input id="fixer3Name"
						   name="fixer3Name"
						   th:value="${mainValve104.fixer3Name}"
						   class="form-control"
						   type="text"></td>
				<td><textarea class="form-control" rows="1"></textarea></td>
			</tr>
			<tr>
				<td>组装</td>
				<td>各部件组装状态良好，结合部清洁，压板螺母紧固，丝扣紧固</td>
				<td>
					<input id="assemblerName"
						   name="assemblerName"
						   th:value="${mainValve104.assemblerName}"
						   class="form-control"
						   type="text">
				</td>
				<td><textarea class="form-control" rows="1"></textarea></td>
			</tr>
			<tr>
				<td colspan="1"></td>
				<td colspan="3">
					<label for="checkbox" class="control-label" >合
						<input type="checkbox" id="checkbox" >
					</label>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label">工长：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="lastname" value="李四" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">工长备注：</label>
						<div class="col-sm-8">
							<textarea placeholder="" rows="4" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">质检员：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="name" value="李四" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">质检员备注：</label>
						<div class="col-sm-8">
							<textarea placeholder="" rows="4" class="form-control"></textarea>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<table style="text-align: center;width: 100%">
						<tr>
							<td>
								<button class="btn btn-success">影像查看</button>
							</td>
							<td>
								<button class="btn btn-success">保存</button>
							</td>
							<td>
								<button class="btn btn-success">提交</button>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			</tbody>
		</table>

	</div>
</form>

<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/part/fix104m/edit.js">
	</script>
</body>
</html>
